.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #00ccff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: .95;
}

.brand {
    color: #00ccff !important;
    font-size: 250%;
}
.brand-font {
    color: #00ccff !important;
}

@media only screen and (max-width: 768px) {
    .intro {
        width: 75vw;
    }
}
@media only screen and (min-width: 769px) {
    .intro {
        width: 40vw;
    }
}

.intro {
    background-color: white;
    opacity: .85;
}
.intro-sub {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5%;
}
.intro-sub-content {
    border-radius: 10%;
}
.intro-sub-online {
    color: black !important;
    font-weight: bold;
    font-size: 95%;
}
.get-started-btn {
    margin-bottom: 2vh;
}
.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: flux-end;
}
.height-inherit {
    height: inherit;
}
.sign-in-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.italic {
    font-style: italic;
}
.font-xlarge {
    font-size: x-large;
}
.text-white {
    color: white !important;
}
.background-white {
    background-color: white !important;
}
.my-account-btn-pic {
    height: 2.5vh;
}
.circle {
    border-radius: 50%;
}
.profile-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.profile-card-info {
    margin-left: 2vw;
}
.profile-card-img {
    max-height: 10vh;
}
.content-ver-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
